.grid{
    display: grid;
    grid-template-columns: repeat(4, 5em);
    grid-template-rows: repeat(6, 3.5em);
    grid-column-gap: 0.2em;
    grid-row-gap: 0.2em;
    justify-items: center;
    place-items: center;
}

.span-2{
    grid-column: span 2;
}

.span-4{
    grid-column: span 4;
}

.button{
    /*background-color: #ededed;*/
    border: 0;
    border-radius: 50%;
    font-size: 1em;
    color: #ffffff;
    padding: 1em;
    width: 3em;
    height: 3em;
}


.button_2_column{
    border: 0;
    border-radius: 20px;
    font-size: 1em;
    color: #ffffff;
    padding: 1em;
    width: 8.5em;
    height: 3em;
}

.button_2_column:active, .button:active{
    /*border-radius: 40%;*/
    opacity: 80%;
}

.calculator_display{
    width: 13em;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: right;
    background-color: #A9A9A9;
    color: #ffffff;
    border: 0;
}

.calculator_display:focus{
    outline: transparent;
}


.c_action{
    background: #db9f39;
}

.c_number{
    background: #b15d5d;
}

.c_operation{
    background-color: #696969;

}

body{
    background-color: #ffffff;
    /*background-color: #b15d5d;*/
}