/*
Julio Davila
Calculator stylesheet
2025
*/

body {
    /*background-color: lightblue;*/
}

.calculator_container{
    /*background-color: darkslategray;*/
    /*width: 15em ;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;


}

.grid {
    /*background: #91a3b0 ;*/
    display: grid;
    grid-template-columns: repeat(4, 3em);
    grid-template-rows: repeat(6, 3em);
    grid-column-gap: 0.2em;
    grid-row-gap: 0.2em;
    justify-items: center;
    place-items: center;
    background-color: #bbbbbb;
    padding: 1em;
    /*border: #444444 0.1em solid;*/
    border-radius: 5px;
    /*box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;*/
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.4) 0px 0px 0px 1px;
}

.span-2 {
    grid-column: span 2;
}

.span-4 {
    grid-column: span 4;
}

.button {
    /*background-color: #ededed;*/
    border: 0;
    border-radius: 10%;
    font-size: 1em;
    color: #ffffff;
    padding: 1em;
    width: 3em;
    height: 3em;
}

.button_2_column {
    border: 0;
    border-radius: 5%;
    font-size: 1em;
    color: #ffffff;
    padding: 1em;
    width: 6.1em;
    height: 3em;
}

.button_2_column:active,
.button:active {
    /*border-radius: 40%;*/
    opacity: 80%;
}

.calculator_display {
    width: 7.4em;
    font-size: 1.5em;
    padding-top: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.4em;
    border-radius: 0.2em;
    text-align: right;
    background-color: #555555;
    color: #ffffff;
    border: 0;
}

.calculator_display:focus {
    outline: transparent;
}

.c_action {
    background: #db9f39;
}

.c_number {
    background: #b15d5d;
}

.c_operation {
    background-color: #696969;
}

body {
    background-color: #ffffff;
    /*background-color: #b15d5d;*/
}

