<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    font-family: Montserrat;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 3.2em);
=======
body {
    background-color: lightblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 3.5em);
>>>>>>> main
    grid-template-rows: repeat(7, 3.5em);
    grid-column-gap: 0.2em;
    grid-row-gap: 0.2em;
    justify-items: center;
    place-items: center;
}

.span-2 {
    grid-column: span 2;
}

.span-4 {
    grid-column: span 4;
}

.button {
    /*background-color: #ededed;*/
    border: 0;
<<<<<<< HEAD
    border-radius: 20px; /* 50%; */
=======
    border-radius: 10%;
>>>>>>> main
    font-size: 1em;
    color: #ffffff;
    padding: 1em;
    width: 3em;
    height: 3em;
}

.button_2_column {
    border: 0;
    border-radius: 5%;
    font-size: 1em;
    color: #ffffff;
    padding: 1em;
<<<<<<< HEAD
    width: 6.4em;
=======
    width: 6.7em;
>>>>>>> main
    height: 3em;
}

.button_2_column:active,
.button:active {
    /*border-radius: 40%;*/
    opacity: 80%;
}

.calculator_display {
<<<<<<< HEAD
    width: 8em;
=======
    width: 8.5em;
>>>>>>> main
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.2em;
    text-align: right;
    background-color: #a9a9a9;
    color: #ffffff;
    border: 0;
}

.calculator_display:focus {
    outline: transparent;
}

<<<<<<< HEAD
.error_message {
    font-size: 1em;
    color: orangered;
    font-weight: bold;
}

=======
>>>>>>> main
.c_action {
    background: #db9f39;
}

.c_number {
    background: #b15d5d;
}

.c_operation {
    background-color: #696969;
}

body {
    background-color: #ffffff;
    /*background-color: #b15d5d;*/
}
