<body>
<div class="grid">

    <input class=" calculator_display span-4" type="text" value="0" />
    <button class="button c_action">C</button>
    <button class="button c_action">+/-</button>
    <button class="button c_action">%</button>
    <button class="button c_operation">/</button>

    <button class="button c_number">7</button>
    <button class="button c_number">8</button>
    <button class="button c_number">9</button>
    <button class="button c_operation">x</button>

    <button class="button c_number">4</button>
    <button class="button c_number">5</button>
    <button class="button c_number">6</button>
    <button class="button c_operation">-</button>

    <button class="button c_number">1</button>
    <button class="button c_number">2</button>
    <button class="button c_number">3</button>
    <button class="button c_operation">+</button>

    <button class="button_2_column c_number span-2">0</button>
    <button class="button c_number">.</button>
    <button class="button c_operation">=</button>
</div>

</body>
