<body>
    <div>


        <style>
            .button_size{
                width: 200px;
                height: 200px;
            }
            body{
                background-color: #b15d5d;
                /*background-color: #ffffff;*/
            }
        </style>

        <input type="text" value="00000" />
        <br/>
        <br/>
        <button >7</button>
        <button>8</button>
        <button>9</button>
        <br/>
        <br/>

        <button>4</button>
        <button>5</button>
        <button>6</button>
        <br/>
        <br/>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <br/>
        <br/>
        <button>+/-</button>
        <button>0</button>
        <button>.</button>


    </div>
</body>
